__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
wandb/
mlruns/
*.log
.DS_Store


# 模型
AutogluonModels/
# 结果
results*/

.vscode/
.python-version
uv.lock
data/
